*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Pangolin", cursive;
}

:root{
  --text-color: black;
  --bg-color: #E5E4E2;

  --p-font: 1rem;
}

body{
  /* background-color: var(--bg-color); */
  color: var(--text-color);
}
